@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap');

body {
  font-family: 'Lilita One', cursive;
}

option {
  color: black;
}

.starry-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  z-index: -1;
}

.star-white {
  position: absolute;
  background: #e9a6a6;
  width: 3px;
  height: 3px;
  animation: blink 1s linear infinite, move 20s linear infinite;
  z-index: 9999;
  border-radius: 50%;
}

.star-black {
  position: absolute;
  background: #0284c7;
  width: 3px;
  height: 3px;
  animation: blink 1s linear infinite, move 20s linear infinite;
  z-index: 9999;
  border-radius: 50%;
}

@keyframes blink {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100vh);
  }
}
